node_modules
dist

# venv
venv/

# python cache
*.pyc
__pycache__/

# exclude zip
# *.zip
upload.zip

# .env
.env

temp_note.md

# db file for test
test/test_db.sqlite

# db file for `DocumentationService` test
test/test_documentation_service_db.sqlite
